@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-light_blue {
  background-color: #4bafff;
}

.bg-main_blue {
  background-color: #1401b8;
}

.bg-light_pink {
  background-color: #ef89f2;
}

.bg-main_pink {
  background-color: #ff036a;
}

.bg-main_yellow {
  background-color: #f6c944;
}

.bg-turquoise {
  background-color: #74fad0;
}

.bg-gold {
  background-color: #FFD700;
}

.bg-dark-green {
  background-color: #4C9A2A;
}

.bg-gray-50 {
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));

  --tw-bg-opacity: 1;
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.from-blue-800 {
  --tw-gradient-from: #1e40af var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(30 64 175 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-button_blue {
  --tw-gradient-from: #3748fa var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(55 72 250 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-button_blue_ {
  --tw-gradient-to: #6557f5 var(--tw-gradient-to-position);
}

.lg\:shadow-3xl {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  --tw-shadow: 20px 0px 400px 20px #FFFFFF;
  --tw-shadow-colored: 20px 0px 400px 20px var(--tw-shadow-color);
}

html {
  scroll-behavior: smooth;
}

.gold-box {
  border: 2px solid #FFD700;
}

.dark-green-box {
  border: 2px solid #4C9A2A;
}

/* Add this CSS for visually hidden content */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
}